<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Register</title>
</head>

<body>
    <form action="register" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="First Name" name="first_name">
        <input type="text" placeholder="Last Name" name="last_name">
        <input type="text" placeholder="Username" name="username">
        <input type="text" placeholder="Email" name="email">
        <input type="text" placeholder="Password" name="password1">
        <input type="text" placeholder="Confirm Password" name="password2">
        <button type="submit">Submit</button>
    </form>
    <div>
        {%for message in messages %}
        <h3>
            {{message}}
        </h3>
        {%endfor %}
    </div>
</body>

</html>